h1 {
  font-size: 54px;
  font-weight: 700;
}

p {
  text-align: justify;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* navigation bar */

.navbar.navbar-default,
.navbar.navbar-fixed-top{
  margin-top: 30px;
  border: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  transition: margin 0.8s;
  -webkit-transition: margin  0.8s;
}

.navbar-nav  > li > a {
  padding: 0;
  padding-top: 10px;
  margin: 0 15px 10px 15px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
}

.navbar-collapse.collapse.in {
  background-color: #fff;
}

.navbar-collapse.collapse.in ul > li > a {
  padding: 10px 15px;
  margin: 0;
}

.navbar-collapse.collapse.in .active {
  background-color: #fe5f33;
  background-color: rgba(254, 95, 51, 0.7)

}

.navbar-collapse.collapse.in li a:hover {
  background-color: rgba(254, 95, 51, 0.5);
}

.navbar-collapse.collapsing a:after,
.navbar-collapse.collapsing a:hover:after,
.navbar-collapse.collapse.in a:after,
.navbar-collapse.collapse.in a:hover:after {
  display: none;
}

.navbar-brand {
  padding: 0;
  padding-left: 15px;
  transition: 0.8s;
  -webkit-transition:  0.8s;
}

.navbar-brand > img {
  height: 100%;
}

.navbar.navbar-moved {
  margin-top: 0;
  transition: 0.8s;
  -webkit-transition:  0.8s;
}

.navbar.navbar-moved .navbar-brand{
  padding: 15px 15px;
  transition: 0.8s;
  -webkit-transition:  0.8s;
}

.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
}

.nav li.active a:after,
.nav li a:hover::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fe5f33;
}

#home {
  background-color: #fff;
}

#home > .container {
  background-image: url('./img/home_bg.jpg');
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}

button.nm-button {
  border: none;
  width: 175px;
  background-color: #fe5f33;
  color: #fff;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 18px;
  box-shadow: 1px 2px 5px #9c9c9c;
}

button.nm-button:hover {
  background-color: #DD542E;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

button.nm-button:active {
  background-color: #EC5930;
}

button.nm-button:focus {
  outline-color: #B44526;
}

#about {
  background-color: #00b6b7;
  color: #fff;
  padding-top: 30px;
}

#about img {
  align-self: center;
}

#services {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #70c0ff;
}

#services h1 {
  position: absolute;
  font-size: 72px;
  top: 35%;
  width: 95%;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #9c9c9c;
}

.service-card {
  display: flex;
  height: 100px;
  background-color: #fff;
  box-shadow: 1px 2px 5px #9c9c9c;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.service-card:nth-of-type(1) {
  margin-top: 15px;
}

.service-card-left{
  display: inline-block;
  text-align: center;
  align-self: center;
}

.service-card-left > p {
  text-align: center;
}

.service-card-right{
  text-align: center;
  align-self: center;
}

.border-box {
  height: 100%;
  display: flex;
  justify-content: center;
}

.border {
  border-right: 1px solid #cecece;
}

.flex-item {
  display: flex;
}

.horizontal-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#gallery {
  background-color: #ffe92f;
  padding-top: 30px;
  padding-bottom: 30px;
}

#gallery img {
  margin-top: 30px;
  box-shadow: 1px 2px 5px #9c9c9c;
}

button.gl-button {
  margin-top: 30px;
  background-color: #5585a2;
}

button.gl-button:hover {
  background-color: #446D85;
}

button.gl-button:focus {
  outline-color: #2E4A5A;
}

#subscribe {
  background-color: #fff;
  background-image: url("./img/sub_background.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  min-height: 500px;
  padding-top: 80px;
}

#subscribe input {
  width: 100%;
  margin-top: 10px;
  line-height: 36px;
  border-color: #031803;
  padding-left: 10px;
}

#subscribe input:focus {
  outline-color: #96b92c;
}

button.sb-button {
  background-color: #96b92c;
  margin-top: 10px;
}

button.sb-button:hover {
  background-color: #809C25;
}

button.sb-button:focus {
  outline-color: #657A1D;
}

#blog {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #b07cf7;
  color: white;
}

button.bl-button {
  background-color: #f82c3c;
  margin-top: 10px;
}

button.bl-button:focus {
  outline-color: #AF1D29;
}

button.bl-button:hover {
  background-color: #B62233;
}

button.bl-button:active {
  background-color: #961C26;
}

.thumbnail-post{
  position: relative;
  display: inline-block;
  max-width: 369px;
}

.thumb-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0,0, 0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0,0, 0.65));
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  
}

.thumb-post-date {
  position: absolute;
  top: 15px;
  left: 15px;
  text-align: center;
  background-color: #181222;
  background-color: rgba(24, 18, 34, .5);
  border-radius: 5px;
  height: 67px;
  width: 67px;
  z-index: 2;
}


.thumb-post-date h5,
.thumb-post-desc h5 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
  text-overflow: clip;
}

.thumb-post-date h5 {
  font-size: 24px;
}

.thumb-post-desc h5 {
  font-size: 18px;
}

.thumb-post-desc p {
  margin-top: 5px;
  margin-bottom: 0;
}

.thumb-post-desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 15px 15px 15px;
  z-index: 2;
}

#contact {
  background-image: url('./img/contact_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 90px;
}

textarea.blue,
input.blue {
  display: block;
  width: 100%;

  color: #fff;
  font-size: 16px;
  line-height: 36px;
  background-color: #00c4c3;
  background-color: rgba(0, 196, 195, .5);
  border: none;
  padding: 5px 10px;
  margin: 10px 0;
}

input.blue:focus {
  border-left: 5px solid #355b82;
  background-color: #00c4c3;
  outline: none;
  font-weight: 700;
}

textarea.blue:-moz-placeholder,
input.blue:-moz-placeholder {
  font-size: 14px;
  color: #fff;
}

textarea.blue:-moz-placeholder,
input.blue:-moz-placeholder {
  font-size: 14px;
  color: #fff;
}

textarea.blue::-webkit-input-placeholder,
input.blue::-webkit-input-placeholder {
  font-size: 14px;
  color: #fff;
}

textarea.blue:placeholder,
input.blue:placeholder {
  font-size: 14px;
  color: #fff;
}

textarea {
  resize: none;
  min-height: 200px;
}

textarea:focus {
  background-color: #00c4c3;
  outline-color: #008F8C;
  font-weight: 700;
}

footer {
  padding: 10px 0;
  min-height: 50px;
  background-color: #262626;
  color: #7b7b7a;
}

footer strong.love {
  color: #fc2c57;
}